        /* ##### START GOBAL CSS##### */

        * {
            margin: 0px;
            padding: 0px;
        }

        body {
            margin: 0px;
            padding: 0px;
            background-color: #ffffff;
        }

        .container_fluid {
            width: 100%;
        }

        .container {
            max-width: 960px;
            margin: 0px auto;
        }

        li {
            list-style: none;
        }

        a {
            text-decoration: none;
        }
        /* ##### END  GOBAL CSS##### */
        .home{
          background-image: url('../img/002.jpg');
          background-size: cover;
          height: 100vh;
          background-position: center center;
        }
